#ctx{
    border: 1px solid #000000;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
}

#randGenClient{
    position:absolute;
    z-index: 20;
    right: 100px;
    bottom:0;
}

#fastFoward{
    position:absolute;
    z-index: 200;
    right: 0;
    bottom:0;
}

#play{
    position:absolute;
    z-index: 200;
    right: 30px;
    bottom:0;
}

#stop{
    position:absolute;
    z-index: 200;
    right: 50px;
    bottom:0;
}

#clientDetailsDiv{
    font-size: 10px;
    display: none;
    position:absolute;
    right: 200px;
    bottom: 200px;
    z-index: 20;
}

#clientDetailsDiv2{
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    position:absolute;
    right: 30px;
    bottom: 60px;
    z-index: 20;
}

@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}